<header class="flex flex-none h-12 border-b px-2 py-1 justify-between items-center" [style.background-color]="'var(--tui-theme-color)'">
	<div>
		<button tuiButton type="button" appearance="flat" size="s" (click)="isDrawerOpen.set(!isDrawerOpen())">
			<i class="fa-solid fa-bars text-lg"></i>
			<tui-icon icon="@tui.fa.solid.bars" />
		</button>
	</div>
</header>
<drawer-container>
	<drawer drawer [opened]="isDrawerOpen()" mode="push" position="left" [dock]="true" dockedSize="60px" drawerClass="w-60 flex flex-col">
		<nav class="grow flex flex-col gap-2 w-full h-full text-base border-r-2 border-gray-100" *transloco="let transloco; prefix: 'routes'">
			@for (route of routes(); track $index) {
			<div
				class="flex w-full items-center p-2 hover:bg-gray-200 cursor-pointer"
				[routerLink]="'/' + route.path"
				[routerLinkActiveOptions]="{ exact: true }"
				routerLinkActive
				#rla="routerLinkActive"
				[ngClass]="rla.isActive ? 'bg-gray-200' : ''">
				<tui-icon [icon]="'@tui.fa.solid.' + route.data?.['icon']" class="mx-2" [ngClass]="!isDrawerOpen() ? 'ml-48' : 'mx-2'" />
				@if (isDrawerOpen()) {
				<a *transloco="let transloco; prefix: 'routes'" class="p-2 flex rounded w-full">
					{{ transloco(route.data?.['translationKey']) }}
				</a>
				}
			</div>
			}
		</nav>
		<div class="flex grow flex-col overflow-y-auto" [style.background-color]="'var(--tui-theme-color)'"></div>
	</drawer>
	<div drawer-content class="h-full">
		<router-outlet />
	</div>
</drawer-container>
